.about_main_container{
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3rem ;
  min-height: 80vh;
}       


.detail_item_container {
    padding-left: 2rem;
    margin-left: 1rem;
    border-left: 1px solid #fff;

}
.detail_item_container h2 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
}

.detail_item_container h2::before {
    content: "";
    width: .5rem;
    height: .5rem;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 1rem;
    position: absolute; 
    left: -2.25rem;
    top:  .75rem;
}


.detail_item_container p {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.5px;
  margin: 10px 0 25px 0;
  color: rgba(255, 252, 252, 0.7);
}





@media (max-width: 920px) {
    .about_main_container {
        padding: 2rem;
    }
    .detail_item_container {
        padding-left: 1rem;
        margin-left: 0;
    }
    .detail_item_container h2 {
        font-size: 1.2rem;
    }
    .detail_item_container p {
        font-size: 1rem;
    }

    .detail_item_container h2::before {
        
        left: -1.25rem;}
}








