.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 0.2px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100% ;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
