@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500&display=swap");

:root {
  --color-primary-bg: #ffffff;
  --color-secondary-bg: #afafafef;
  --color-tertiary-bg: #ececec91;
  --color-primary-text: #000000;
  --color-secondary-text: #242424;
  --color-tertiary-text: #00000020;
  --color-shadow: #ffffff58;
  --invert: 1;
}

[data-theme="dark"] {
  --color-primary-bg: #000;
  --color-secondary-bg: #242424;
  --color-tertiary-bg: #191919bf;
  --color-primary-text: #ffffff;
  --color-secondary-text: #fffcfcb3;
  --color-tertiary-text: #ffffff20;
  --color-shadow: #0000001a;
  --invert: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--color-secondary-bg);
  color: var(--color-primary-text);
  scroll-behavior: smooth;
  scroll-padding-top: 68px;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-secondary-bg);
}
* ::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-secondary-bg);
}
* ::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-bg);
  border-radius: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}
.linkref {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: var(--color-secondary-text) !important;
  font-weight: 300 !important;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
}

.app_parent {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.nav_main_container {
  display: flex;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  box-shadow: 0 4px 30px var(--color-shadow);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: var(--color-tertiary-bg);
}

.nav_main_container nav {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  height: 64px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 25px;
  flex-wrap: wrap;
  max-width: 920px;
}

nav img {
  width: 45px;
  height: 45px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: var(--color-secondary-text);
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.menu_bars {
  color: var(--color-primary-text);
}

nav ul li a.active,
nav ul li a:hover {
  color: var(--color-primary-text);
}

.logo {
  filter: invert(var(--invert));
}

nav .menu-btn i {
  color: var(--color-primary-text);
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}
.hidden_in_desktop {
  display: none;
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }

  .hidden_in_desktop {
    width: 36px;
    height: 36px;
    padding: 1px;
    /* border: 1px solid #fff; */
    display: block;
    border-radius: 4px;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: absolute;
    top: 64px;
    right: -55vw;
    width: 50vw;
    max-width: 50vw;
    padding: 20px;
    height: fit-content;
    border-radius: 12px;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    margin: 5px;
    overflow: hidden;
    box-shadow: 0 4px 30px var(--color-shadow);
    backdrop-filter: blur(10px) ;
    -webkit-backdrop-filter: blur(10px) ;
    background-color: var(--color-tertiary-bg);
    border: 1px solid var(--color-tertiary-text);
  }


  nav ul li {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
  }

  .active_menu {
    right: 5px !important;
  }

  p {
    font-weight: 300 !important;
  }
}

.nav_checkbox {
  opacity: 0;
  position: absolute;
}

.nav_label {
  width: 40px;
  height: 20px;
  background-color: var(--color-primary-bg);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  position: relative;
  border: 1px solid var(--color-primary-text);
  transform: scale(1.5);
}

.ball {
  width: 16px;
  height: 16px;
  background-color: var(--color-primary-text);
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.nav_checkbox:checked + .nav_label .ball {
  transform: translateX(20px);
}
.nav_checkbox:checked + .nav_label .sun_icon svg {
  transition-duration: 0.5s;
  transform: rotate(90deg);
}

.nav_checkbox:checked + .nav_label .sun_icon {
  opacity: 1;
}
.nav_checkbox:checked + .nav_label .moon_icon {
  opacity: 0;
}
.nav_checkbox:checked + .nav_label .moon_icon svg {
  transition-duration: 0.5s;
  transform: rotate(0deg);
}

.moon_icon svg {
  transition-duration: 1s;
  transform: rotate(-90deg);
}
.moon_icon {
  color: var(--color-primary-text);
  opacity: 1;
  display: flex;
}

.sun_icon {
  display: flex;
  opacity: 0;
  color: var(--color-primary-text);
}

.button {
  background-color: var(--color-secondary-text);
  border: none;
  color: var(--color-primary-bg);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 7px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: flex;
  height: 40px;
  cursor: pointer;
  gap: 5px;
  align-items: center;
}

.button:hover {
  background-color: var(--color-primary-text);
}
